*{
    margin:0;
    padding: 0;
}

h1{
    font-family: cursive;
    font-weight: bolder;
}

body{
  background-color: rgba(255, 0, 0, 0.5); 
  text-align: center;
}


.container{
    height: 70vh;
    display: flex;
    justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}


.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    flex-wrap: wrap;
}
.box{
    height: 18vmin;
    width: 18vmin;
    font-size: 90px;
    font-weight: bold;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0,.7);
    color: red;
}

#reset{
    font-size: larger;
    height: 70px;
    width: 130px;
    font-family: cursive;
    color: rgb(235, 12, 239);
    font-weight: bold;
    border-radius: 2rem;
    border: none;
}

#newgm{
font-size: larger;
    height: 70px;
    width: 130px;
    font-family: cursive;
    color: rgb(234, 104, 5);
    font-weight: bold;
    border-radius: 2rem;
    border: none;
}

#msg{
    color: rgb(118, 36, 127);
    font-size: 5vmin;
}

.msg-container{
    height:14vmin ;
}

.hide{
    display: none;
}